/* ////PAGINA CONTACTO//// */

.formulario{
    margin: 20px;
    box-shadow: $sombra;
    border-radius: 20px;
    padding: 10px;
    h2 {
        text-align: center;
        font-size:30px;
    }
    .formulario-contacto{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin:20px;
        padding: 20px;
        fieldset{
            width: 340px;
        }
        textarea{
            height: 250px;
        }
        .btn{
            background-color: $secundary-color;
            &:hover{
                background-color: $primary-color;
                color:$secundary-color;
            }      
        }      
    }
}

@media (max-width: 630px){
    .formulario h2{
        font-size: 20px;

    }
}

@media (max-width: 465px){
    fieldset{
        width: 250px;
    }
}

@media (max-width: 415px){
    .formulario h2, label{
        font-size: 15px;
    }
    .form-control{
        width: 250px;
        height: 50px;
    }
    fieldset{
       padding-left: 50px;
    }
    .btn{
        width: 80px;
        height: 35px;
        font-size: 10px;
    }
}

@media (max-width: 340px) {
    .form-control {
        width: 240px;
        height: 40px;
    }
}
