/* ////PAGINA CONTACTO//// */

.formulario{
    margin: 20px;
    h2 {
        text-align: center;
        font-size:30px;
    }
    .formulario-contacto{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin:20px;
        fieldset{
            width: 340px;
        }
        .btn{
            background-color: $secundary-color;
            &:hover{
                background-color: $primary-color;
                color:$secundary-color;
            }      
        }      
    }
}


