/*///////// PAGE FRAGANCIAS CON GRID///////*/

.main-fragancias {
    background-color:$third-color;
    margin-bottom: 10px;
    h2 {
        text-align: center;
        margin-top: 35px;
        transition: color 0.8s;
        &:hover{
            cursor: pointer;
            color: $hipervinculos;
            text-shadow: $sombra; 
            transform: scale(1.05, 1.05);
        }
    }
    .grilla-perfumes-femeninos {
        background-color: $third-color;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 40px;
    }
    .frag-masc{
        background-color: $secundary-color;
        width: 100%;
        height: 50px;
        color: $hipervinculos;
        padding-top: 6px;
        transition: color 0.8s;
        &:hover{
            cursor: pointer;
            color: $primary-color;
            transform: scale(1.05, 1.05);
        }
    }
    .grilla-perfumes-masculinos {
        background-color: $third-color;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 40px;
    }
}

.perfumes {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: $sombra;
 
    .descripcion{
        padding: 10px;
    }
}

@media(max-width: 905px){
    .precio-perf{
        font-size: 20px;
    }
    .perfumes p span{
        font-size: 15px;
    }
}

@media (max-width: 705px){
    .perfumes{
        justify-content: flex-start;
    }
    .precio-perf{
        font-size: 18px;
    }
    .perfumes p span{
        font-size: 13px;
    }
}

@media (max-width: 630px){
    .main-fragancias .grilla-perfumes-femeninos, .main-fragancias .grilla-perfumes-masculinos {
        grid-template-columns: repeat(2, 1fr);
    }

    .perfumes .descripcion{
        font-size: 13px;
    }

    .precio-perf{
       font-size: 16px;
    }

    .perfumes p span{
        font-size: 13px;
    }
}

@media (max-width: 465px){
    .main-fragancias .grilla-perfumes-femeninos, .main-fragancias .grilla-perfumes-masculinos {
        grid-template-columns: repeat(1, 1fr);
    }
}