/*///////// PAGE FRAGANCIAS CON GRID///////*/

.main-fragancias {
    background-color:$third-color;
    margin-bottom: 10px;
    h2 {
        text-align: center;
        margin-top: 20px;
    }
    .grilla-perfumes-femeninos {
        background-color: $third-color;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 40px;
    }
    .frag-masc{
        background-color: $secundary-color;
        width: 100%;
        height: 50px;
        color: $hipervinculos;
        padding-top: 6px;
    }
    .grilla-perfumes-masculinos {
        background-color: $third-color;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 40px;
    }
}

.perfumes {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    .img-perfumes {
        width: 100%;
        max-width: 400px;
        max-height: 400PX;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px4;
        margin-bottom: 15px;
    }
    .descripcion{
        padding: 10px;
    }
    .precio-perf {
        font-size: 30px;
        font-weight: 600;
        font-style: italic;
    }
}

