/*////SECCION BEAUTY////*/

.beauty {
    margin-top: 40px;
    h2 {
        text-align: center;
    }
    .beauty-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-top: 50px;
        margin-bottom: 35px;
        .img-beauty {
            width: 100%;
            max-width: 300px;
            max-height: 195px;
            border-radius: 5px;
            box-shadow: $sombra;
            margin-bottom: 15px;
            &:hover{
                cursor: pointer; 
                transform: scale(1.1,1.1);
                box-shadow: none;
                border: solid 1px #0e172c;
            }
        }
    }
}

/*////SECCION OPORTUNIDADES Y OFERTAS////*/

.ofertas {
    background-color: $third-color;
    padding-top: 50px;
    h2 {
        text-align: center;
        margin-top: -35px;
    }
}

/*////SECCION REGALERIA////*/
.regaleria{
    h2{
        text-align: center;
        padding-top: 20px;
        font-weight: 600;
    }    
    .descrip-regaleria {
        font-size: 14px;
        margin-bottom: 10px;
        max-width: 400px;
    }
    .regaleria-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 35px;
        padding-bottom: 10px;
        text-align: center;
        align-items: flex-start;
        align-content: space-around;
        .article-regaleria {
            max-width: 500px;
            padding: 25px;
            font-size: larger;
            margin: 20px;
        }
        #accordionFlushExample .accordion-item {
            max-width:400px ;
            background-color: $secundary-background;
            .accordion-button{
                font-weight: 600;
                background-color: $secundary-background;
            }
        }
    }
}

/*////SECCION MEDIOS DE PAGO////*/

.descuentos {
    display: grid;
    grid-template-areas: 
    "h2 h2"
    "carrusel video";
    grid-template-columns: repeat(2, 1fr);
    background-color: $third-color;
    justify-items: center;
    align-items: center;
    h2 {
        grid-area: h2;
        text-align: center;
        padding-top: 10px;
    }  
    .carousel-inner{
        grid-area: carrusel;
        padding: 25px;
        .d-block{
            width: 300px;
            height: 350px;
            object-fit:contain;
            border-radius: 8px;
            margin-bottom: 10px;
        }
    }
    .video{
        grid-area: video;      
        .v1{
            width: 80%;
            border-radius: 8px;
            max-width: 700px;
            box-shadow: $sombra;
        }
    }
}


@media (max-width: 630px){
    .w-100 {
        width: 495px;
        height: 260px;
    }
}

@media (max-width: 465px){
h2{
    font-size: 16px;
}
.ofertas p, .regaleria p{
    font-size: 13px;
}

.descuentos{
    display: flex;
    flex-flow: column nowrap;
}
.video{
    display: none;
}
}







