/*////PAGE MAQUILLAJE CON GRID////*/

.main-maquillajes {
    margin-bottom: 10px;
    background-color: $third-color;
    h2{
        width: 100%;
        height: 50px;
        background-color: $secundary-color;
        text-align: center;
        color: $hipervinculos;
        text-box-trim: trim-both;
        transition: color 0.8s;
        &:hover{
            cursor: pointer;
            color: $primary-color;
        }
    }
    h3{
        color: $secundary-color;
        padding-top: 6px;
        text-align: center;
        margin-top: 10px;
        animation: aumentar 2s infinite ease-in-out;
    }
    
    @keyframes aumentar {
        0%, 100% {
          transform: scale(0.8); 
        }
        50% {
          transform: scale(1); 
        }
      }

    .grilla-maquillajes{
        display: grid;
        grid-area: grilla-maquillajes;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin: 40px;
        .maquillajes {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-between;
            border-radius: 5px;
            box-shadow: $sombra;             
            .marca-m{
                color: $marcas;
            }          
            .descripcion{ 
                padding: 10px;
            }         
        }     
     }
}

@media(max-width: 905px){
    .precio-maq{
        font-size: 20px;
    }
    .maquillajes p span{
        font-size: 15px;
    }
}

@media (max-width: 705px){
    .precio-maq{
        font-size: 18px;
    }
    .maquillajes p span{
        font-size: 13px;
    }
}

@media (max-width: 630px){
    .main-maquillajes .grilla-maquillajes .maquillajes{
        justify-content:flex-start;
    }
    .main-maquillajes .grilla-maquillajes{
        grid-template-columns: repeat(2, 1fr);

    }
    .maquillajes .descripcion{
        font-size: 13px;
    }
    .precio-maq{
        font-size: 16px;
    }
     .maquillajes p span{
        font-size: 13px;
    }
    .marca-m{
        font-size: 8px ;
    }
}

@media (max-width: 465px){
    .main-maquillajes .grilla-maquillajes{
        grid-template-columns: repeat(1, 1fr);
    }
}