
/*////FOOTER////*/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .nosotros {
        display: flex;
        flex-direction: column;
        padding: 20px;
        .ntitulos {
            font-weight: 500;
            color:$secundary-color;
            &:hover{
                color: $hipervinculos;
            }
        }
        a {
            margin-top: 30px;
            font-weight: 500;
            color: $secundary-color;
            &:hover{
              color: $hipervinculos;     
            }
        }
    }
    .contacto {
        padding: 20px;
        margin-top: 25px;
        a {
            margin-top: 30px;
            font-weight: 500;
            color: $secundary-color;
            cursor: pointer;
            &:hover{
                color: $hipervinculos; 
            }
        }
        .pc {
            margin-top: 12px;
            .bi {
                font-size: 30px;
                color: $secundary-color;
                &:hover{
                    color: $hipervinculos;
                    cursor: pointer;
                }
            }
        }
    }
    .maps {
        padding: 20px;
        .mapa {
            max-width: 100%;
            width: 450px;
            height: 300px;
            border-radius: 8px;
            box-shadow: $sombra;
        }        
    }
    .iconowts{
        position: fixed;
        bottom: 25px;
        right: 20px;
        animation: sombraWhatsapp 1.5s infinite alternate;
        border-radius: 50px;
        &:hover{
            cursor: pointer;
            transform: scale(1.2,1.2);
        }
      }
    .derechos {
        background-color: $secundary-color;
        border: 3px solid black;
        text-align: center;
        width: 100%;
        p {
            font-size: 10px;
            font-weight: 600;
            color: $hipervinculos;
            margin-top: 15px;
        }
    }
}

@keyframes sombraWhatsapp {
    0% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.35); 
    }
    50% {
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.60); 
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.35); 
    }
  }


@media (max-width: 705px){
    .contacto a, p{
     font-size: 15px;
    }
    .nosotros a{
     font-size: 15px;
    }
 }

 @media (max-width: 630px){
    .contacto{
        margin-left: 18px;
        padding: 5px;
    }
    .maps{
        margin: 0;
        padding: 5px;
    }
 }

 @media (max-width: 550px){
    .maps{
        margin-right: 30px;
    }
}
        
@media (max-width: 465px){
    .derechos p{
        font-size: 8px;
    }
    .maps{
        margin-left: 30px;    
    }
    .iconowts{
        width: 40px ;
    }
}