/*////MENU DE NAVEGACION////*/

.navbar {
    padding-top: 0px;
    padding-bottom: 0px; 
    background-color: $secundary-color;
    width: 100%;
    .container-fluid{
        background-color: $secundary-color;
        .navbar-collapse {
            justify-content: center;
            .navbar-nav   {
                display: flex;
                justify-content: center;
                color: $hipervinculos; 
                .nav-item {
                    padding: 10px 10px 10px 20px;
                    font-weight: 800;
                    .nav-link{
                        color: $hipervinculos;
                        line-height: 1px;
                        transition: color 1s;
                        &:hover{
                           color: $primary-color;
                           transform: scale(1.08, 1.08);
                     } 
                     }
                    &:hover{
                        color: $primary-color
                    }
              }
            } 
        }
        .nav-link.active{
            color: $hipervinculos;
            &:hover{
                color: $primary-color
            }
        }
        .nav-link.show{
            color: $hipervinculos;
        }
    }
}

@media (max-width: 990px){
    .container-fluid{
        padding-left: 20px;
    }
}

@media (max-width: 630px){
    .nav-link{
        font-size: 15px;
    }
}

@media (max-width: 465px){
.nav-link{
    font-size: 12px;
}
}