* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proza Libre", sans-serif;
}

body {
    background-color: #fec7d7;
}

main {
    border: 2px solid black;
    background-color: #f9f8fc;
}

