//Abstract
@import "./abstracts/variables";
//Base
@import "./base/reset";
@import "./base/tipografia";
//Componentes
@import "./components/boton-beauty";
@import "./components/images-productos";
@import "./components/precios";
//Layout
@import "./layout/header";
@import "./layout/navegation";
@import "./layout/footer";
//Pages
@import "./pages/home";
@import "./pages/fragancias";
@import "./pages/maquillajes";
@import "./pages/contacto";
@import "./pages/sobre-nosotros";


/*////MEDIAS QUERIES////*/

@media(max-width: 905px){
.precio-maq, .precio-perf{
    font-size: 20px;
}
.perfumes p span, .maquillajes p span{
    font-size: 15px;
}
}

@media (max-width: 705px){
   .contacto a, p{
    font-size: 15px;
   }
   .nosotros a{
    font-size: 15px;
   }
   .perfumes{
    justify-content: flex-start;
    }
    .precio-maq, .precio-perf{
        font-size: 18px;
    }
    .perfumes p span, .maquillajes p span{
        font-size: 13px;
    }

}
@media (max-width: 655px){
.encabezado{
    flex-direction: column;
}
.logo{
    display: none;
}

}

@media (max-width: 630px){
    .contacto{
        margin-left: 18px;
        padding: 5px;
    }
    .maps{
        margin: 0;
        padding: 5px;
    }

    .main-maquillajes .grilla-maquillajes .maquillajes{
        justify-content:flex-start;
    }

    .main-fragancias .grilla-perfumes-femeninos, .main-fragancias .grilla-perfumes-masculinos {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-maquillajes .grilla-maquillajes{
        grid-template-columns: repeat(2, 1fr);

    }
    .perfumes .descripcion, .maquillajes .descripcion{
        font-size: 13px;
    }

    .precio-maq, .precio-perf{
       font-size: 16px;
    }

    .perfumes p span, .maquillajes p span{
        font-size: 12px;
    }
    
    .marca-m{
        font-size: 8px ;
    }
    .formulario h2{
        font-size: 20px;

    }
    .w-100 {
        width: 495px;
        height: 260px;
    }
    .nav-link{
        font-size: 15px;
    }
}
@media (max-width: 550px){
.maps{
    margin-right: 30px;
}
}
    
@media (max-width: 465px){
h2{
    font-size: 16px;
}
.ofertas p, .regaleria p{
    font-size: 13px;
}

.descuentos{
    display: flex;
    flex-flow: column nowrap;
}
.video{
    display: none;
}

.maps{
    margin-left: 30px;    
}

.iconowts{
    width: 40px ;
}

fieldset{
    width: 250px;
}
.nav-link{
    font-size: 12px;
}

.precio-maq, .precio-perf{
    font-size: 10px;
    margin-left: 5px;
}
.perfumes p span, .maquillajes p span{
    font-size: 8px;
}

.sobre-nosotros h2{
    font-size: 25px;
}

.sobre-nosotros p{
    font-size: 13px;
}
.sobre-nosotros ul li{
    font-size: 13px;
}
}

@media (max-width: 415px){
    .formulario h2, label{
        font-size: 15px;
    }
    .form-control{
        width: 250px;
        height: 50px;
    }
    fieldset{
       padding-left: 50px;
    }
    .btn{
        width: 80px;
        height: 35px;
        font-size: 10px;
    }
}